#conteudo{
  margin:auto;
  width:60%;
  min-width: 800px;
  
}
#conteudo-mobile{
  margin:auto;
  //width:50%;
  min-width:500px;
  padding: 0 10px;
  
  #login{
    padding-top: 3%;
  }
    
  #logo{
     padding-top: 1%;
  }
  
}
#login{
  padding-top : 20%;
}

#logo{
   padding-top : 17%;
  
}

.position{
  /*position : absolute;
  top : 0;
  left : 0;*/
  margin: 20px auto;
  
  padding-bottom : 100px;
  width : 50%;
  border-radius: 6px 6px 6px 6px;
  
  //background: url(/assets/texture/bg.png) repeat;

  //color : #fff;
  text-align : center;
  float: left;

  input[type=text],
  input[type=password] {
    width : 120px;
  }

  #huge-text {
    font-family : Roboto-Light;
    /*font-size : 200px;*/
    color : #000;
    text-shadow : 0 1px 0 #fff;
  }

  #forgot_password_link {
    //margin : 40px;
    color : #bd820b;
    clear : all;
  }
}

